<div class="float-right mb-3 mr-3">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#testEmailModal"> Send Email </button>
</div>

<div class="modal fade" id="testEmailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header border-top-0 bg-primary">
        <h5 class="modal-title text-white" id="exampleModalLabel"><b> <%= Spree.t(:test_email, scope: :template) %> </b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <%= image_tag('backend-custom-email-close.svg', alt: 'Cross', width: '18px', height: '18px') %>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: test_email_admin_template_path(template), method: :post, remote: true, format: :html) do |form| %>
          <div class="mb-3">
            <%= form.label :email, 'Email Address:', class: 'col-form-label' %>
            <%= form.email_field :email, class: 'form-control', required: true %>
          </div>

          <div class="modal-footer border-top-0 p-0">
            <%= form.submit 'Send', class: 'btn btn-primary w-100 m-0' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
